<style>
    .cross {
        margin-top: 10vh;
    }

    .border > * > tr > * {
        border-style: solid;
    }

    .border > * > tr > td:nth-child(n+2) {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-10">
        <!-- row1 -->
        <div class="row">
            <div class="col-2">
                <table id="t1" style="width:70%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>打設責任者</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>鹿島</td>
                        </tr>
                        <tr>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <table id="t2" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>筒先担当</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>鹿島</td>
                        </tr>
                        <tr>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
            </div>
            <div class="col-2">
                <table id="t3" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>受入れ担当</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>鹿島</td>
                        </tr>
                        <tr>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cross"></div>
        <!-- row2 -->
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2">
                <table id="t4" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>世話役</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>
            <div class="col-4">
                <div class="col-6">
                    <table id="t5" style="width:100%" class="border border-dark text-left">
                        <thead>
                            <tr>
                                <td>圧送</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <table id="t6" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>
                                場内誘導
                            </td>
                            <td>計</td>
                            <td><span class="text-danger">実</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>＊string</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>誘導員</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- row3 -->
        <div class="cross"></div>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-3">
                <table id="t7" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>
                                打設
                            </td>
                            <td>計</td>
                            <td><span class="text-danger">実</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>バイブφ50</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>線持ち</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>バイブφ40</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>線持ち</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>型枠バイブ</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>バイブφ30</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>線持ち</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>型枠のたたき</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>鉄筋清掃</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>型枠清掃</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>型枠相番</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>鉄筋相番</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>電工</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                        <tr>
                            <td>遊撃手・交代要員</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-3">
                <table id="t8" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>
                                圧送
                            </td>
                            <td>計</td>
                            <td><span class="text-danger">実</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>圧送補助</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-1">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <table id="t9" style="width:100%" class="border border-dark text-left">
                            <thead>
                                <tr>
                                    <td>
                                        品質管理
                                    </td>
                                    <td>計</td>
                                    <td><span class="text-danger">実</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>クオリティ</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                                <tr>
                                    <td>試験員</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                                <tr>
                                    <td>COARA(単位水量)</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                                <tr>
                                    <td>全量受入れ</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="cross"></div>
                <div class="row">
                    <div class="col-12">
                        <table id="t10" style="width:100%" class="border border-dark text-left">
                            <thead>
                                <tr>
                                    <td>
                                        デリバリー
                                    </td>
                                    <td>計</td>
                                    <td><span class="text-danger">実</span></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>TCトレーディング</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                                <tr>
                                    <td>デリバリー</td>
                                    <td>*int</td>
                                    <td><span class="text-danger">0</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- col2 -->
    <div class="col-2">
        <div class="row">
            <div class="col-8">
                <table id="t11" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>支保工計測</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>鹿島</td>
                        </tr>
                        <tr>
                            <td>data</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="cross"></div>
        <div class="row">
            <div class="col-12">
                <table id="t12" style="width:100%" class="border border-dark text-left">
                    <thead>
                        <tr>
                            <td>
                                支保工計測
                            </td>
                            <td>計</td>
                            <td><span class="text-danger">実</span></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>＊string</td>
                            <td></td>
                            <td><span class="text-danger"></span></td>
                        </tr>
                        <tr>
                            <td>計測補助</td>
                            <td>*int</td>
                            <td><span class="text-danger">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    <script src="~/js/index.js"></script>
    }
}